<div id="map"></div>
    <script>
      var makePin = function(lat, long, colour, label, id) {
        var pin = new google.maps.Marker({
              position: {lat: lat, lng: long},
              icon: "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2%7C" + colour
              // label: label
              });
        pin.addListener('click', function(){
          console.log(id)
        });
        return pin;
      };

      function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: {lat: -37.819, lng:144.968 }
        });

        // Add some markers to the map.

        var markers = [
          <% @results.each do |r| %>
          <% result = r[1] %>
            makePin(<%= result.lat %>, <%= result.long %>, "<%= result.color %>", "<%= result.symbol %>", <%= result.id %>),
          
          <% end %>
        ]

        markers.forEach(function(marker){
            marker.setMap(map);
        })
      }

    </script>
    <!-- <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"> -->
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARaNvhtNzV1w4FivxQm6WHvydAy26zYPI&callback=initMap">
    </script>